/* :root {
   Кольори тексту 

  --main-clr: #2196f3;
  --title-clr: #212121;
  --txt-clr: #757575;
  --second-txt-color: #000000;
  --social-link-clr: #afb1b8;

   Кольори фону 

  --main-bg-clr: #ffffff;
  --second-bg-clr: #2f303a;
  --btn-bg-clr: #f5f4fa;

   Шрифти 

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway';

   Заокруглення 

  --border-radius: 4px;

   CSS переходи 

  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Основні */
/* html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
} */

/* body {
  color: var(--txt-clr);
  font-family: var(--main-font);
  background-color: var(--main-bg-clr);
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--title-clr);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* .section {
  padding: 94px 0;
} */

/* .main-logo {
  color: var(--main-clr);
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* хедер */

/* .header {
  background-color: var(--main-bg-clr);
  border-bottom: 1px solid #ececec;
  padding: 24px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--second-txt-color);
  margin-right: 93px;
} */

/* nav хедер */

/* .nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-clr);
  padding-bottom: 32px;
  transition: color var(--transition-main);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--main-clr);
}

.now {
  position: relative;
  color: var(--main-clr);
}

.nav__link.now::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--main-clr);
  border-radius: 4px;
} */

/* контакти хедера */

/* .contact {
  display: flex;
  gap: 50px;
  flex-basis: calc((100% - 50px) / 3);
}

.contact__mail {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--txt-clr);
  transition: color var(--transition-main);
}

.contact__logo {
  fill: var(--txt-clr);
}

.contact__tel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--txt-clr);
  transition: color var(--transition-main);
}

.contact__mail:hover,
.contact__mail:focus {
  color: var(--main-clr);
}

.contact__mail:hover .contact__logo,
.contact__mail:focus .contact__logo {
  fill: currentColor;
}

.contact__tel:hover,
.contact__tel:focus {
  color: var(--main-clr);
}

.contact__tel:hover .contact__logo,
.contact__tel:focus .contact__logo {
  fill: currentColor;
} */

/* футер */

/* .ft {
  background: var(--second-bg-clr);
  padding: 60px 0;
}

.ft__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.ft__logo {
  display: block;
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--main-bg-clr);
  margin-bottom: 20px;
} */

/* медіа лінки футера */

/* .media__list {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.media__link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-bg-clr);
}

.media__mail {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-main);
}

.media__mail:hover,
.media__mail:focus {
  color: var(--main-clr);
}

.media__tel {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-main);
}

.media__tel:hover,
.media__tel:focus {
  color: var(--main-clr);
} */

/* соцмережі футер */

/* .ft-socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-clr);
  margin-bottom: 20px;
}

.ft-socials__list {
  display: flex;
  gap: 10px;
}

.ft-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-bg-clr);
  transition: background-color var(--transition-main);
}

.ft-socials__link:hover,
.ft-socials__link:focus {
  background-color: var(--main-clr);
} */

/* футер-FORM */

/* .email-form {
  display: flex;
  flex-direction: column;
}

.email-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-clr);
  margin-bottom: 20px;
}

.email-form-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.email-form__input {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: var(--border-radius);
  background-color: var(--second-bg-clr);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--main-bg-clr);
}

.email-form-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;
  height: 50px;
  border: 0;
  color: var(--main-bg-clr);
  background-color: var(--main-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.email-form-btn__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bg-clr);
} */

/* основна сторінка */

/* hero */

/* .hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  background-size: cover;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 200px 0;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-clr);
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  color: var(--main-bg-clr);
  background-color: var(--main-clr);
  border-radius: var(--border-radius);
  border: 0;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 10px 32px;
  height: 50px;
} */

/* факти */

/* .about__list {
  display: flex;
  gap: 30px;
}

.about__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--btn-bg-clr);
  height: 120px;
}

.about__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-clr);
  margin-bottom: 10px;
  flex-basis: calc((100% - 30px) / 4);
}

.about__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
} */

/* Чим ми займаємося */

/* .work {
  padding-top: 0;
}

.work__title {
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--title-clr);
  margin-bottom: 50px;
  text-align: center;
}

.work__list {
  display: inline-flex;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 3);
}

.work__thomb {
  position: relative;
}

.work__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work__img-title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-clr);
} */

/* Команда */

/* .team {
  background: var(--btn-bg-clr);
}

.team__title {
  color: var(--title-clr);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 4);
}

.team__item {
  background: var(--main-bg-clr);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  width: 270px;
  text-align: center;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--title-clr);
  padding-top: 30px;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--txt-clr);
  margin-bottom: 16px;
}

.socials__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-link-clr);
  transition: background-color var(--transition-main), fill var(--transition-main);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--main-clr);
  fill: var(--main-bg-clr);
} */

/* Клієнти */

/* .clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-clr);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 6);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: solid 1px var(--social-link-clr);
  border-radius: var(--border-radius);
  fill: var(--social-link-clr);
  transition: border-color var(--transition-main), fill var(--transition-main);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--main-clr);
  border-color: var(--main-clr);
} */

/* Кнопки навігації */

/* .filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-basis: calc((100% - 8px) / 5);
  margin-bottom: 50px;
}

.filter__btn {
  background: var(--btn-bg-clr);
  border-radius: var(--border-radius);
  color: var(--title-clr);
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
  font-weight: 500;
  font-family: inherit;
  height: 38px;
  transition: background-color var(--transition-main), color var(--transition-main), box-shadow var(--transition-main);
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--main-clr);
  color: var(--main-bg-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

/* Головне портфоліо */

/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  transition: box-shadow var(--transition-main);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition-main);
}

.overlay__desc {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-bg-clr);
}

.portfolio__thumb:hover .overlay,
.portfolio__thumb:focus .overlay {
  transform: translateY(0);
}

.portfolio__name {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-clr);
  padding: 20px 0 4px 24px;
}

.portfolio__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--txt-clr);
  padding-bottom: 20px;
  padding-left: 24px;
} */

/* Модалка */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility var(--transition-main), opacity var(--transition-main);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
} */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition-main);
}

.modal__btn:focus,
.modal__btn:hover {
  fill: var(--main-clr);
} */

/* .registred-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registred-form__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: var(--title-clr);
  margin-bottom: 12px;
}

.registred-form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.registred-form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.registred-form__label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}

.registred-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-radius);
  outline: transparent;
  transition: border-color var(--transition-main);
}

.registred-form__input:focus {
  border-color: var(--main-clr);
}

.registred-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill var(--transition-main);
}

.registred-form__input:focus + .registred-form__icon {
  fill: var(--main-clr);
}

.registred-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-radius);
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  transition: border-color var(--transition-main);
}

.registred-form__textarea::placeholder {
  font-size: 12px;
}

.registred-form__textarea:focus {
  border-color: var(--main-clr);
}

.registred-form__agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
}

.chekbox-icons__checked {
  opacity: 0;
  transition: opacity var(--transition-main);
}

.registred-form__chekbox:focus + .registred-form__chekbox-icons {
  outline: 2px solid var(--second-txt-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.registred-form__chekbox:checked + .registred-form__chekbox-icons .chekbox-icons__checked {
  opacity: 1;
}

.chekbox-icons__dischecked {
  transition: opacity var(--transition-main);
}

.registred-form__chekbox:checked + .registred-form__chekbox-icons .chekbox-icons__dischecked {
  opacity: 0;
}

.registred-form__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  user-select: none;
}

.contract {
  color: var(--main-clr);
  text-decoration: underline;
}

.registred-form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: var(--main-bg-clr);
  background-color: var(--main-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  border: 0;
  cursor: pointer;
} */
