.ft-socials {
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-clr);
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    gap: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--main-bg-clr);
    transition: background-color var(--transition-main);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--main-clr);
  }
}
