.ft {
  background: var(--second-bg-clr);
  padding: 60px 0;

  &__wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-bg-clr);
    margin-bottom: 20px;
  }
}
