.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition: fill var(--transition-main);

  &:hover,
  &:focus {
    fill: var(--main-clr);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: #fff;

  transform: translateX(100%);
  transition: transform 400ms;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  gap: 32px;

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: var(--title-clr);
  }
}

.now {
  position: relative;
  color: var(--main-clr);
}

.mobile-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;

  &__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);

    letter-spacing: 0.02em;

    color: var(--main-clr);

    @media screen and (max-width: 340px) {
      font-size: 26px;
    }
  }

  &__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;

    color: var(--txt-clr);
  }
}

.mobile-socials {
  display: flex;

  & > &__item:not(:first-child) {
    margin-left: 10px;
  }

  &__item:not(:first-child)::before {
    content: '';
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 10px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);

    letter-spacing: 0.02em;
    color: var(--main-clr);

    @media screen and (max-width: 400px) {
      font-size: 12px;
    }
  }
}
