.about {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: unset;
    }
  }

  &__item {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    background-color: var(--btn-bg-clr);

    border-radius: var(--border-radius);

    width: 100%;
    height: 120px;
  }

  &__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: var(--title-clr);

    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  }
}
