.clients {
  // @media screen and (min-width: 1200px) {
  //   &__wrap {
  //     padding-left: 15px;
  //     padding-right: 15px;
  //   }
  // }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33px / 28px);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-clr);

    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(42px / 36px);

      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (max-width: 399px) {
      justify-content: center;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      flex-basis: calc((100% - 30px) / 6);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: solid 1px var(--social-link-clr);
    border-radius: var(--border-radius);
    fill: var(--social-link-clr);
    transition: border-color var(--transition-main), fill var(--transition-main);
  }

  &__link:hover,
  &__link:focus {
    fill: var(--main-clr);
    border-color: var(--main-clr);
  }
}

// .clients {

//   &__title {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 42px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: var(--title-clr);
//     margin-bottom: 50px;
//   }

//   &__list {
//     display: flex;
//     gap: 30px;
//     flex-basis: calc((100% - 30px) / 6);
//   }

//   &__link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 170px;
//     height: 92px;
//     border: solid 1px var(--social-link-clr);
//     border-radius: var(--border-radius);
//     fill: var(--social-link-clr);
//     transition: border-color var(--transition-main), fill var(--transition-main);
//   }

//   &__link:hover,
//   &__link:focus {
//     fill: var(--main-clr);
//     border-color: var(--main-clr);
//   }
// }
