.hero {
  max-width: 1600px;
  margin: 0 auto;

  padding: 118px 0;
  text-align: center;

  // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: black;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--main-bg-clr);

    width: 360px;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 479px) {
      width: auto;
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: calc(60 / 44);
      width: 696px;
    }
  }

  &__btn {
    color: var(--main-bg-clr);
    background-color: var(--main-clr);
    border-radius: var(--border-radius);
    border: 0;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 10px 24px;
    height: 50px;

    @media screen and (min-width: 1200px) {
      padding: 10px 32px;
    }
  }
}
