.work {
  padding-top: 0;

  &__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--title-clr);
    margin-bottom: 50px;
    text-align: center;
  }

  &__list {
    display: inline-flex;
    gap: 30px;
    flex-basis: calc((100% - 30px) / 3);
  }

  &__thomb {
    position: relative;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }

  &__img-title {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-clr);
  }
}
