.portfolio {

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    width: calc((100% - 60px) / 3);
    border: 1px solid #eeeeee;
    transition: box-shadow var(--transition-main);
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__thumb:hover .overlay,
  &__thumb:focus .overlay {
    transform: translateY(0);
  }

  &__name {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-clr);
    padding: 20px 0 4px 24px;
  }

  &__text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--txt-clr);
    padding-bottom: 20px;
    padding-left: 24px;
  }

  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 63px 24px;
      background-color: rgba(33, 150, 243, 0.9);
      transition: transform var(--transition-main);
  }

  .overlay__desc {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: var(--main-bg-clr);
  }
}
